textarea {
	width: 400px;
	height: 100px !important; 
}

.internelError ul li{
	display: inline;
	list-style-type: none;
}

.internelError ul li ul{
	display: inline;
}


.teamMemberField, .attachmendField{
	margin-top: 10px;
}

#addOneMoreFile{
	margin-top: 10px;
	margin-bottom: 10px;
}

#projectFormSubmit{
	margin-top: 40px;
}