textarea {
	min-height: 100px !important;
}
.add-field{
	margin-top: 10px;
}

.topic, .voteTopic{
	display: inline;
	margin-top: 5px;
}

.internel-error ul li{
	list-style-type: none;
}

.internel-error ul li ul{
	display: inline;
}

.internelError ul li{
	list-style-type: none;
}

.internelError ul li ul{
	display: inline;
}

.team-member-field, .attachmend-field{
	margin-top: 10px;
}

#add-one-more-file{
	margin-top: 10px;
	margin-bottom: 10px;
}

#project-form-submit, #protocol-form-submit, #report-form-submit{
	margin-top: 40px;
}

.new-field-control, .add-excused, .add-absent, .add-attendents, .remove-topic-button{
	margin-top: 5px;
	margin-bottom: 5px;
}

.remove-team-member{
	margin-top: 15px;
}

.topics-voted-for, .topics-voted-against, .topics-voted-abstain, .order-voting {
	width: 33%;
	display: inline;
	margin-top: 5px;
	margin-bottom: 5px;
}

#add-member-button{
	margin-top: 5px;
}

.topicLocked, {
	margin-top: 5px;
}

.remove-person {
	margin-top: 2px;
	margin-bottom: 2px;
}

.popover-content {
	padding: 0px;
}

#id_captcha_1{
	width: 200px;
	margin-top: 4px;
	margin-left: 100px;
	margin-top: -38px;
}

.margin-top {
	margin-top: 15px;
}