textarea {
	width: 400px;
	height: 100px !important; 
}
.add-field{
	margin-top: 10px;
}

.topic, .voteTopic{
	display: inline;
	margin-top: 5px;
}

.internel-error ul li{
	list-style-type: none;
}

.internel-error ul li ul{
	display: inline;
}

.internelError ul li{
	list-style-type: none;
}

.internelError ul li ul{
	display: inline;
}

.team-member-field, .attachmend-field{
	margin-top: 10px;
}

#add-one-more-file{
	margin-top: 10px;
	margin-bottom: 10px;
}

#project-form-submit, #protocol-form-submit{
	margin-top: 40px;
}

.new-field-control, .add-excused, .add-absent, .add-attendents{
	margin-top: 5px;
	margin-bottom: 5px;
}

.remove-excused, .remove-absent, .remove-attendents, .remove-team-member{
	margin-top: 15px;
}