.main-header {
    background: url("../img/uni.png") right no-repeat, url("../img/repeat-x.png") left repeat-x;
    height: 180px;
}

@media (max-width: 635px) {
	.main-header{
		background: url("../img/repeat-x.png") left repeat-x;
		height: 100px;
	}

	#sslogo {
		height: 100px;
	}
}

#title {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 30px;
}

/* The styles from .form-control to match the type ahead control */
 .autocomplete, .tt-query, .tt-hint {
 	width: 500px;
 	padding: 6px 12px;
 	font-size: 14px;
 	height: 34px;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	color: #555;
 	vertical-align: middle;
 	background-color: #fff;
 	border: 1px solid #ccc;
}
.twitter-typeahead {
	width: 100%;
}