/*Div CSS*/
#logo
{
	background-repeat: repeat-x;
    background: url("../img/repeat-x.png");
 }

#title
{
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 30px;
}

/* The styles from .form-control to match the type ahead control */
 .autocomplete, .tt-query, .tt-hint {
 	width: 500px;
 	padding: 6px 12px;
 	font-size: 14px;
 	height: 34px;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	color: #555;
 	vertical-align: middle;
 	background-color: #fff;
 	border: 1px solid #ccc;
.main {
 	background-color: #f0f0e0;
 	
 }

.text a
{
	color:#800080;
}

.approved a
{
	color:#106f24;
}

.rejected a
{
	color:#FF0000;
}