{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<div class="alert alert-danger internelError">
    <strong>Грешка! </strong>
    {{ form.errors }}
</div>
{% endif %}
    <div class="row">
        <div class="col-lg-5">
                <h1>Вход в системата</h1>
                    <form class="loginForm" method="post" action="#">
                        {% csrf_token %}
                        <div class="control-group">
                            <label class="control-label" for="projectName">Потребител</label>

                            <div class="controls">
                                <input name="username" type="text" placeholder=""
                                       class="form-control" value="{{ form.username.value|default:"" }}" />
                            </div>
                            <br/>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="projectName">Парола</label>

                            <div class="controls">
                                <input name="password" type="password" placeholder=""
                                       class="form-control" value="" required/>
                            </div>
                            <br/>
                        </div>
                        <button type="submit" class="btn btn-primary">Вход</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_scripts %}
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.validate.js"> </script>
    <script src="{{ STATIC_URL }}js/appConfig.js"></script>
    <script src="{{ STATIC_URL }}js/loginForm.js"></script>
{% endblock %}