{% extends "base.html" %}

{% block content %}

<!-- BREADCRUMB -->
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		  <li class="active">Профил</li>
		</ol>
	</div>
</div>

<!-- TABLE FOR USER PROJECTS -->
<div class="row">
	<div class="col-lg-12">
		<h1>Моите проекти</h1>
		<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<td><strong>Име на проекта</strong></td>
					<td><strong>Статус на проекта</strong></td>
					<td><strong>Коментар по проекта</strong></td>
					<td><strong>Създаден на</strong></td>
				</tr>
			</thead>
			<tbody>
			{% for project in projects %}
				{% if project.status == "unrevised" %}
					<tr>
				{% elif project.status == "returned" %}
					<tr class="warning">
				{% elif project.status == "approved" %}
					<tr class="success">
				{% elif project.status == "pending" %}
					<tr>
				{% elif project.status == "rejected" %}
					<tr class="danger">
				{% else %}
					<tr>
				{% endif %}
					<td>
						{{ project.name }} -
						{% if project.status == "unrevised" or project.status == "returned" %}
						<a class="project-edit-link" href="{% url 'projects:edit-project' project.id %}"><i class="icon-edit"></i> Редактирай</a>
						{% endif %}
						<a class="project-view-link" href="{% url 'projects:show-project' project_id=project.id %}" target="_blank"><i class="icon-eye-open"></i> Публичната версия</a>
					</td>
					<td>
						{% if project.status == "unrevised" %}
							Неразгледан
						{% elif project.status == "returned" %}
							Върнат за корекции
						{% elif project.status == "approved" %}
							Одобрен на СИС
						{% elif project.status == "pending" %}
							Предстои да бъде разгледан на СИС
						{% elif project.status == "rejected" %}
							Неодобрен на СИС
						{% else %}
							{{ project.status }}
						{% endif %}
					</td>
					<td>{% if project.attitute %}
							<a data-toggle="modal" href="#{{ project.id }}" class="btn btn-primary btn-xs">Прочети рецензията</a>

							<div class="modal fade" id="{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Рецензия на проект: {{ project.name }}</h4>
										</div>
											<div class="modal-body">
											{{  project.attitute }}
											</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<em>Няма рецензия</em>
						{% endif %}
					</td>
					<td>{{ project.created_at }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
</div>

{% if is_project_coordinator %}
<div class="row">
	<div class="col-lg-12">
	<h1>Проекти, подлежащи на проверка</h1>
	<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<td><strong>Име на проекта</strong></td>
				<td><strong>Създаден от</strong></td>
				<td><strong>Създаден на</strong></td>
			</tr>
		</thead>
		<tbody>
	{% for project in all_projects %}
		{% if project.status == 'unrevised' %}
			<tr>
				<td>{{ project.name }} - <a class="project-edit-link" href="{% url 'projects:edit-status' project.id %}"><i class="icon-edit"></i> Промени статус на проекта</a>
						<a class="project-view-link" href="{% url 'projects:show-project' project_id=project.id %}" target="_blank"><i class="icon-eye-open"></i> Публичната версия</a></a></td>
				<td>{{ project.user.first_name }} {{ project.user.last_name }}</td>
				<td>{{ project.created_at }}</td>
			</tr>
		{% endif %}
	{% endfor %}
</tbody>
</table>
</div>
	</div>
</div>
{% endif %}

<!-- LEGEND TABLE -->
<div class="row">
	<div class="col-lg-12">
		<h1>Легенда:</h1>
		<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered" border="1">
			<thead>
				<tr>
					<td width="50%"><strong>Статус</strong></td>
					<td><strong>Подробности</strong></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Неразгледан</td>
					<td>Проектът предстои да бъде разгледан от проектният координатор към СС.</td>
				</tr>
				<tr class="warning">
					<td>Върнат за корекции</td>
					<td>Проектът е разгледан от проектният координатор и е върнат за корекции - може да видиш прикаченият коментар към него.</td>
				</tr>
				<tr>
					<td>Предстои да бъде разгледан на СИС</td>
					<td>Проектът предстои да бъде разгледан и гласуван на следващото заседание на СИС.</td>
				</tr>
				<tr class="danger">
					<td>Неодобрен на СИС</td>
					<td>Проектът не е одобрен. Разгледай коментара към него за подробности</td>
				</tr>
				<tr class="success">
					<td>Одобрен на СИС</td>
					<td>Проектът е одобрен и гласуван на СИС. Предстои минаване през администрацията на СУ.</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_scripts %}
  <script src="http://underscorejs.org/underscore.js"></script>
{% endblock %}
