{% extends "base.html" %}

{% block content %}
<p style="font-size:20px; text-decoration:underline"><strong>Информация: </strong></p>
<table class="table table-striped">
<tr>
	<td><strong>Име на проекта</strong></td>
	<td><strong>Старус</strong></td>
	<td><strong>Коментар по проекта</strong></td>
</tr>
{% for project in projects %}
<tr>
	<td width="30#"><a href="{% url 'projects:edit-project' project.id %}">{{ project.name }}</a></td>
	<td width="30#">{{ project.status }}</td>
	<td width="30#">{{ project.attitute }}
{% endfor %}

</tr>
</table>
{% endblock %}

{% block footer_scripts %}
  <script src="http://underscorejs.org/underscore.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
{% endblock %} 