{% extends "base.html" %}
{% block content %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
  <div class="row">
    <div class="col-lg-6">
      <form role="form" class="protocolForm" method="post">
        {% csrf_token %}
        <fieldset>

          <!-- Form Name -->
          <legend>Протокол</legend>

          <!-- subheader-->

          <div class="control-group">
            <label class="control-label" for="projectName">Протокол №</label>
            <div class="controls">
              <input id="projectName" name="number" type="text" placeholder="пример - Diaphanum" class="form-control" value="{{ form.name.value|default:"" }}" required />
            </div>
            <br/>
            <div class="controls">
             <input id="date" name="scheduled_at" type="text" placeholder="Генериране на дата" class="form-control" disabled="disabled"/>
           </div>
         </div>

         <!-- subheader ends -->

         <!-- input official time -->

         <div class="control-group">
          <label class="control-label" for="projectTime">Обявен час</label>
          <div class="controls">
           <input id="projectTime" name="scheduled_time" type="text" placeholder="Обявен час" class="form-control" value="{{ form.scheduled_time.value|default:"" }}" required />
         </div>
       </div>

       <!-- input official time ends -->

       <!-- input official start-time -->

       <div class="control-group">
        <div class="controls">
          <label class="control-label" for="startTime">Начален час</label>

         <input id="startTime" name="start_time" type="text" placeholder="Начален час" class="form-control" value="{{ form.start_time.value|default:"" }}" required />
       </div>
     </div>

     <!-- input official start-time ends -->

     <!-- input quorum -->

     <div class="control-group">
      <label class="control-label" for="quorum">Кворум</label>
      <div class="controls">
       <input id="quorum" name="quorum" type="text" placeholder="Кворум" class="form-control" value="{{ form.quorum.value|default:"" }}" required />
     </div>
   </div>

   <!-- input quorum ends -->

   <!-- input offiacially not included -->

   <div class="control-group">
    <label class="control-label" for="notIncluded">Официално извинени</label>
    <div class="controls">
     <input id="notIncluded" name="notIncluded" type="text" placeholder="Кворум" value="0" class="form-control" required />
   </div>
 </div>

 <!-- input offiacially not included ends -->

 <!-- Participants -->

 <div class="control-group">
  <label class="control-label" for="quorum">Присъстват</label>
   <div class="controls">
    <!-- No ids because of we can have many input fields for members -->
    <input class="quorum" name="quorum[]" type="text" placeholder="Иван Иванов" class="form-control" required>
    <div style="margin-top:5px;"> <!-- TODO: Remove inline styles -->
      <span id="membersError"></span>
      <button type="button" class="btn btn-primary">Добави още членове</button>
    </div>
  </div>
</div>

<!-- Participants ends -->

<!-- Causes -->

<div class="control-group">
    <label class="control-label" for="dailyTopics">Дневен ред</label>

  <div class="controls">
    <!-- No ids because of we can have many input fields for members -->
    <input class="dailyTopics" name="dailyTopics[]" type="text" placeholder="Точка едно" class="form-control" required>
    <div style="margin-top:5px;" id="addTopicControl"> <!-- TODO: Remove inline styles -->
     <span id="membersError"></span>
     <button type="button" id="addTopicButton" class="btn btn-primary">Добави още точки</button>
   </div>
 </div>
</div>

<!-- Clauses ends -->
<hr />
<!-- Votes -->

<div class="control-group">
  <label class="contro-label">Гласуване на дневен ред</label>
  <div class="control-group">
    <label class="control-label" for="voted_yes">За:</label>
    <div class="controls">
      <input id="voted_yes" name="voted_yes" type="number" placeholder="Кворум" value="0" class="form-control" required />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="voted_no">Против:</label>
    <div class="controls">
      <input id="voted_no" name="voted_no" type="number" placeholder="Кворум" value="0" class="form-control" required />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="not_voted">Въздържали се:</label>
    <div class="controls">
      <input id="not_voted" name="not_voted" type="number" placeholder="Кворум" value="0" class="form-control" required />
    </div>
  </div>
</div>

<!-- Votes ends -->

<!-- Textarea additional info -->

<div class="control-group">
  <label class="control-label" for="additional_info">Допълнителна информация</label>
  <div class="controls">
   <textarea id="additional_info" name="information" class="form-control">{{ form.information.value|default:"" }}</textarea>
 </div>
</div>

<!-- Textarea additional info ends -->

<!-- Textarea point 1 -->

<div class="control-group">
  <label class="control-label" for="not_voted">Допълнителна информация</label>
  <div class="controls">
   <textarea id="point_1" name="point_1" class="form-control">Пот. 1-</textarea>
 </div>
</div>

<!-- Textarea point 1 ends -->

<!-- Textarea point 2 -->

<div class="control-group">
  <div class="controls">
   <textarea id="point_2" name="point_2" class="form-control">Пот. 2-</textarea>
 </div>
</div>

<!-- Textarea point 2 ends -->

<!-- input president -->

<div class="control-group">
  <label class="control-label" for="president">Председател на СС:</label>
  <div class="controls">
   <input id="president" name="president" type="text" placeholder="" class="form-control" required />
 </div>
</div>

<!-- input president ends -->

<!-- input secretary -->

<div class="control-group">
  <label class="control-label" for="secretary">Главен секретат:</label>
  <div class="controls">
   <input id="secretary" name="secretary" type="text" placeholder="" class="form-control" required />
 </div>
</div>

<!-- input secretary ends -->

<!-- Button -->

<div class="control-group">
  <label class="control-label" for="projectFormSubmit"></label>
  <div class="controls">
    <button id="protocolFormSubmit" name="projectFormSubmit" class="btn btn-primary">Предай протокол</button>
  </div>
</div>

<!-- Button ends -->

</fieldset>
</form>
</div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/appConfig.js"></script>
{% endblock %}
