{% extends "base.html" %}
{% block content %}

{% if topic_form.errors %}
<div class="alert alert-danger internelError">
  <strong>Грешка! </strong>
  {{ topic_form.errors }}
</div>
{% endif %}

{% if protocol_form %}
{{ protocol_form.errors }}
{% endif %}

{% if institution_form %}
{{ institution_form.errors }}
{% endif %}

<!-- data = {
    'topic_form-TOTAL_FORMS': u'1',  <<< You have to add +1 on this field when id="addTopicButton" is pressed
  } -->

  <div class="row">
    <div class="col-lg-8">
      <form role="form" class="protocolForm" method="post">
        {% csrf_token %}
        {{ topic_form.management_form }}
        <fieldset>
          <!-- Form Name -->
          <legend>Протокол</legend>

          <!-- subheader-->
          <div class="alert alert-info">

            <div class="control-group">
              <label class="control-label" for="protocolNumber">Протокол №</label>
              <div class="controls">
                <input id="number" name="number" type="text" class="form-control"  value="{{ protocol_form.number.value|default:"" }}" {% if protocol_form.number.field.required %}required{% endif %} />
              </div>
            </div>

            <!-- subheader ends -->

            <!-- input official time -->
            <div class="control-group">
              <label class="control-label" for="institution">Заседание на</label>
              <div class="controls">
                <input id="institution" name="institution" type="text" placeholder="Институция?" class="form-control" value="{{ protocol_form.value.institution }}" {% if protocol_form.institution.field.required %}required{% endif %} /> 
                <!-- TODO: we need a list of all institutions -->
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="conducted_at">На дата</label>
              <div class="controls">
                <input id="conducted_at" name="conducted_at" type="date" class="form-control" value="{{ protocol_form.value.conducted_at }}" {% if protocol_form.conducted_at.field.required %}required{% endif %} />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="scheduled_time">Обявен начален час</label>
              <div class="controls">
                <input id="scheduled_time" name="scheduled_time" type="time" class="form-control" value="{{ protocol_form.scheduled_time.value|default:"" }}" {% if protocol_form.scheduled_time.field.required %}required{% endif %} />
              </div>
            </div>
          </div>

          <div class="alert alert-info">
            
          <div class="control-group">
            <label class="control-label" for="excused">Официално извинени</label>
            <div class="controls">
              <input id="excused" name="excused[]" type="text" placeholder="Иван Иванов" class="form-control" value="{{ protocol_form.excused.value|default:"" }}" {% if protocol_form.number.excused.required %}required{% endif %} />
              <div style="margin-top:5px;"> <!-- TODO: Remove inline styles -->
                <span id="membersError"></span>
                <button type="button" class="btn btn-primary">Добави още членове</button>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="absent">Отсъстващи</label>
            <div class="controls">
              <!-- No ids because of we can have many input fields for members -->
              <input id="absent" class="form-control" name="absent[]" type="text" placeholder="Иван Иванов" class="form-control" value="{{ protocol_form.value.absent }}" {% if protocol_form.absent.field.required %}required{% endif %} />
              <div style="margin-top:5px;"> <!-- TODO: Remove inline styles -->
                <span id="membersError"></span>
                <button type="button" class="btn btn-primary">Добави още членове</button>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="attendents">Присъстващи членове</label>
            <div class="controls">
              <input id="attendents" name="attendents[]" type="text" placeholder="Иван Иванов" class="form-control" value="{{ protocol_form.value.attendents }}" {% if protocol_form.attendents.field.required %}required{% endif %} />
              <div style="margin-top:5px;"> 
                <span id="membersError"></span>
                <button type="button" class="btn btn-primary">Добави още членове</button>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="quorum">Кворум</label>
            <div class="controls">
              <input id="quorum" name="quorum" type="number" class="form-control" value="{{ protocol_form.quorum.value|default:"" }}"  maxlength="{{ protocol_form.number.field.max_length }}" {% if protocol_form.quorum.field.required %}required{% endif %} />
            <!-- TODO: not < 0 -->
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <label class="control-label" for="start_time">Начален час</label>

              <input id="start_time" name="start_time" type="time" placeholder="Начален час" class="form-control" value="{{ protocol_form.start_time.value|default:"" }}" {% if protocol_form.start_time.field.required %}required{% endif %} />
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button type="button" class="btn btn-success add-field">Добави допълнително текстово поле</button>
            </div>
          </div>

        <div class="alert alert-info">
          
          <div class="control-group">
            <label class="control-label" for="majority">Решения с обикновено мнозинство се взимат с</label>
            <div class="controls">
              <input id="majority" name="majority" type="number" class="form-control" placeholder="гласа" value="{{ protocol_form.majority.value|default:"" }}" {% if protocol_form.majority.field.required %}required{% endif %} />
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="current_majority">Решение с 50% + 1 от списъчния съвет се взимат с</label>
            <div class="controls">
              <input id="current_majority" name="current_majority" type="number" class="form-control" placeholder="гласа" value="{{ protocol_form.current_majority.value|default:"" }}"  {% if protocol_form.current_majority.field.required %}required{% endif %} />
            </div>
          </div>
        
        </div>
        <!-- Participants ends -->

        <div class="alert alert-info">
          
          <div class="control-group">
            <label class="control-label" for="quorum">Обявен дневен ред</label>
            <div class="controls">
              <ol>
                <li> <input id="quorum" name="quorum" type="text" class="form-control point" placeholder="точка" value="{{ protocol_form.quorum.value|default:"" }}" required />
                </li>
              </ol>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="button" class="btn btn-success add-field">Добави точка</button>
              </div>
            </div>
          </div>
        
           <div class="control-group">
            <div class="controls">
              <button type="button" class="btn btn-success add-field">Добави допълнително текстово поле</button>
            </div>
          </div>

        </div>

      <div class="alert alert-info">
          <div class="control-group">
            <label class="control-label" for="quorum">Гласуване дневен ред</label>
            <div class="controls">
              <ol>
                <li> <input id="quorum" name="quorum" type="text" class="form-control point" placeholder="точка" value="{{ protocol_form.quorum.value|default:"" }}" required />

                  <input id="quorum" name="quorum" type="text" class="form-control point" placeholder="За" value="{{ protocol_form.quorum.value|default:"" }}" required />

                  <input id="quorum" name="quorum" type="text" class="form-control point" placeholder="Против" value="{{ protocol_form.quorum.value|default:"" }}" required />

                  <input id="quorum" name="quorum" type="text" class="form-control point" placeholder="Въздържали се" value="{{ protocol_form.quorum.value|default:"" }}" required />
                  <!-- TODO: File upload -->
                </li>
              </ol>
            </div>


            <div class="control-group">
              <div class="controls">
                <button type="button" class="btn btn-success add-field">Добави допълнително текстово поле</button>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button type="button" class="btn btn-success add-field">Добави точка</button>
              </div>
            </div>
          </div>
      </div>

    </div>



  </div>

<!-- Clauses ends -->
    <hr />
<!-- Votes -->


<!-- Votes ends -->

<!-- Textarea additional info -->

    <div class="control-group">
      <label class="control-label" for="additional_info">Допълнителна информация</label>
      <div class="controls">
       <textarea id="additional_info" name="information" class="form-control">{{ protocol_form.information.value|default:"" }}</textarea>
     </div>
    </div>

<!-- Textarea additional info ends -->

<!-- Textarea point 1 -->


<!-- Textarea point 1 ends -->

<!-- Textarea point 2 -->

<!-- <div class="control-group">
  <div class="controls">
   <textarea id="point_2" name="point_2" class="form-control">Пот. 2-</textarea>
 </div>
</div> -->

<!-- Textarea point 2 ends -->

<!-- input president -->

<!-- <div class="control-group">
  <label class="control-label" for="president">Председател на СС:</label>
  <div class="controls">
   <input id="president" name="president" type="text" placeholder="" class="form-control" required />
 </div>
</div> -->

<!-- input president ends -->

<!-- input secretary -->
<!--
<div class="control-group">
  <label class="control-label" for="secretary">Главен секретат:</label>
  <div class="controls">
   <input id="secretary" name="secretary" type="text" placeholder="" class="form-control" required />
 </div>
</div> -->

<!-- input secretary ends -->

<!-- Button -->

<div class="control-group">
  <label class="control-label" for="projectFormSubmit"></label>
  <div class="controls">
    <button id="protocolFormSubmit" name="projectFormSubmit" class="btn btn-primary">Предай протокол</button>
  </div>
</div>

<!-- Button ends -->

</fieldset>
</form>
</div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}js/appConfig.js"></script>
<script src="{{ STATIC_URL }}js/protocolsForm.js"></script>
{% endblock %}
