{% extends "base.html" %}

{% block content %}

<form method="get">
	<div class="control-group">
	<label class="control-label" for="number">Изберете институция</label>
		<div class="controls">
			<select class="form-control" name="institution_id" onchange='this.form.submit()'>
				<option value="">Избери Институция</option>
				{% for institution in institutions %}
					<option value="{{ institution.id }}">{{ institution }}</option>
				{% endfor %}	
			</select>
		</div>
	</div>
</form>

<div class="panel panel-default" style="margin-top: 20px;">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Членове</th>
				<th>21-01-2012</th>
				<th>21-02-2012</th>
				<th>21-03-2012</th>
				<th>21-04-2012</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Иван Иванов</th>
				<th><span class="icon-ok-circle big-icon"> </span></th>
				<th><span class="icon-briefcase big-icon"> </span></th>
				<th><span class="icon-remove-circle big-icon"> </span></th>
				<th><span class="icon-ok-circle big-icon"> </span></th>
			</tr>
			<tr>
				<th>Иван Петров</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th>Радо Радо</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th>Name</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
