{% extends "base.html" %}
{% block content %}
    <div>

            <p style="font-size:20px; text-decoration:underline"><strong>Листа на всички проекти:</strong></p>
            {% for protocol in protocols  %}
            <a href="{% url 'protocols:show-protocol' protocol_id=protocol.id %}">
            <table class="table table-striped">
            <tr><td width="30%">Протоколен номер: </td><td align="left"> {{ protocol.number }}</td> <br/></tr>
            <tr><td width="30%">До институция</td><td align="left">{{ protocol.institution }}</td> <br/></tr>
            <tr><td width="30%">Насрочен начален час:</td><td align="left"> {{ protocol.scheduled_time }}</td> <br/></tr>
            <tr><td width="30%">Начален час</td><td align="left"> {{ protocol.start_time }}</td> <br/></tr>
            </table>
            </a>
           <!-- Извинени отсъстващи: <br/>
            {% for excused in protocol.excused.all %}
                {{ excused.username }} <br/>
            {% endfor %}
        
            НЕизвинени отсъстващи <br/>
            {% for absent in protocol.absent.all  %}
                {{ absent.username }} <br/>
            {% endfor %}
        
            Присъствали <br/>
            {% for attendent in protocol.attendents.all  %}
                {{ attendent.username }} <br/>
            {% endfor %}
        
            {% if protocol.additional %}
                Допълнителна информация: {{ protocol.additional }} <br/>
            {% endif %}
        
        
            Kворум: {{ protocol.quorum }} <br/>
            Нужно мнозинство: {{ protocol.majority }} <br/>
            Текущо мнозинство: {{ protocol.current_majority }} <br/>
        
            {% if protocol.information %}
                {{ protocol.information }} <br/>
            {% endif %}
        
            -->
            {% if protocol.topics.count > 0 %}
                <bold> TOPICS DISCUSSED </bold> <br/>
        
                {% for topic in protocol.topics.all  %}
                    {{ topic.name }} <br/>
                    {{ topic.description }} <br/>
        
                    {% if topic.voted_for or topic.voted_against or topic.voted_abstain %}
                        За: {{ topic.voted_for }} <br/>
                        Против: {{ topic.voted_against }} <br/>
                        Въздърждали се: {{ topic.voted_abstain }} <br/>
                    {% endif %}
        
                    {% if topic.statement %}
                        Взето решение: {{ topic.statement }} <br/>
                    {% else %}
                        Няма стейтмънти по въпроса <br/>
                    {% endif %}
        
                {% endfor %}
            {% endif %}
            <br/><br/><hr>
        {% endfor %}

    </div>
{% endblock %}
    