{% extends "base.html" %}
{% block content %}
    <div>
        <header>
            <h1>Протокол</h1>
        </header>
        <div>
            <p style="font-size:20px; text-decoration:underline"><strong>Информация: </strong></p>
            <div id="attending" style="background-color:#aaff81">
            Присъствали: <br/>
            <ul>
            {% for attendant in protocol_show.attendents.all  %}
                <li>{{ attendant.username }} </li><br/>
            {% endfor %}
            </ol>
            </div>
            <table class="table table-condensed" style="text-align:justify; background-color:#d0d1d2" >                       
            <tr><td width="30%">Протоколен номер:</td><td align="left"> {{ protocol_show.number }}</td> <br/></tr>
            <tr><td width="30%">До институция:</td> <td align="left">{{ protocol_show.institution }}</td> <br/></tr></td>
            <tr><td width="30%">Насрочен начален час:</td><td align="left"> {{ protocol_show.scheduled_time }} <br/></tr></td>
            <tr><td width="30%">Начален час:</td><td align="left"> {{ protocol_show.start_time }} <br/></tr></td>
            </table>

            <div id="excused" style="background-color:#eae3e3">
            Извинени отсъстващи: <br/>
            <ul>
            {% for excused in protocol_show.excused.all %}
                <li>{{ excused.username }}</li> <br/>
            {% endfor %}
            </ul>
            </div>
            <div id="not_excused" style="background-color:#FFA07A">
            НЕизвинени отсъстващи: <br/>
            <ul>
            {% for absent in protocol_show.absent.all  %}
                <li>{{ absent.username }}</li> <br/>
            {% endfor %}
            </ul>
            </div>

            
            </table>
            <table class="table table-condensed" style="text-align:justify">
            <p style="font-size:20px; text-decoration:underline"><strong>Допълнителна информаци: </strong></p>
            
            <tr><td>{% if protocol_show.additional %}
                Допълнителна информация: {{ protocol_show.additional }} <br/>
            {% endif %}</tr></td>

            <tr><td>Kворум: {{ protocol_show.quorum }} <br/></tr></td>
            <tr><td>Нужно мнозинство: {{ protocol_show.majority }} <br/></tr></td>
            <tr><td>Текущо мнозинство: {{ protocol_show.current_majority }} <br/></tr></td>

            <tr><td>{% if protocol_show.information %}
                Информация: {{ protocol_show.information }} <br/>
            {% endif %}</tr></td>
            </tr></td>
            <br/><br/>
            {% if protocol_show.topics.count > 0 %}
                <bold> TOPICS DISCUSSED </bold> <br/>

                {% for topic in protocol_show.topics.all  %}
                    {{ topic.name }} <br/>
                    {{ topic.description }} <br/>

                    {% if topic.voted_for or topic.voted_against or topic.voted_abstain %}
                        За: {{ topic.voted_for }} <br/>
                        Против: {{ topic.voted_against }} <br/>
                        Въздърждали се: {{ topic.voted_abstain }} <br/>
                    {% endif %}

                    {% if topic.statement %}
                        Взето решение: {{ topic.statement }} <br/>
                    {% else %}
                        Няма стейтмънти по въпроса <br/>
                    {% endif %}

                {% endfor %}
            {% endif %}
            </table>
            <br/><br/><hr>
        </div>
    </div>
{% endblock %}
