{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Протокол номер: {{ protocol.number }}</div>
        <table class="table">
            <tr>
                <td width="40%">Протоколен номер</td>
                <td>{{ protocol.number }}</td>
            </tr>

            <tr>
                <td>Заседание на</td>
                <td>{{ protocol.institution }}</td>
            </tr>
            <tr>
                <td>На дата</td>
                <td>{{ protocol.conducted_at }}</td>
            </tr>
            <tr>
                <td>Обявен начален час</td>
                <td>{{ protocol.scheduled_time }}</td>
            </tr>
            <tr>
                <td>Официално извинени</td>
                <td>
                    <ol>
                    {% for excused in protocol.excused.all %}
                        <li>{{ excused.first_name }} {{ excused.last_nam}}</li>
                    {% endfor %}
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Отсъстващи</td>
                <td>
                    <ol>
                    {% for absent in protocol.absent.all %}
                        <li>{{ absent.first_name }} {{ absent.last_nam}}</li>
                    {% endfor %}
                    </ol>
                </td>
            </tr>
                            <tr>
                <td>Присъстващи</td>
                <td>
                    <ol>
                    {% for attendents in protocol.attendents.all %}
                        <li>{{ attendents.first_name }} {{ attendents.last_nam}}</li>
                    {% endfor %}
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Кворум</td>
                <td>{{ protocol.quorum }}</td>
            </tr>
            <tr>
                <td>Начален час</td>
                <td>{{ protocol.start_time }}</td>
            </tr>
            <tr>
                <td>Допълнителна информация:</td>
                <td>{{ protocol.additional }}</td>
            </tr>
            <tr>
                <td>Решения с обикновено мнозинство се взимат с</td>
                <td>{{ protocol.majority }}</td>
            </tr>
            <tr>
                <td>Решение с 50% + 1 от списъчния съвет се взимат с</td>
                <td>{{ protocol.current_majority }}</td>
            </tr>
            <tr>
                <td>Дневен ред</td>
                <td>
                    <ol> 
                        {% for topic in protocol.topics.all  %}
                            <li>{{ topic.name }}</li>
                        {% endfor %}
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Гласуване на дневен ред</td>
                <td>
                    <strong>За:</strong> {{ protocol.voted_for }}, 
                    <strong>Против:</strong> {{ protocol.voted_against }}, 
                    <strong>Въздържали се:</strong> {{ protocol.voted_abstain }}
                </td>
            </tr>
        </table>
    </div>
    <h3>Гласуване:</h3>
    <ol>
    {% for topic in protocol.topics.all  %}
        <li>
            <div class="alert alert-info">{{ topic.name }}</div>
        </li>
        <strong>За:</strong> {{ topic.voted_for }}, 
        <strong>Против:</strong> {{ topic.voted_against }}, 
        <strong>Въздържали се:</strong> {{ topic.voted_abstain }}
        {% if topic.statement %}
            <textarea class="form-control" disabled>{{ topic.statement }}</textarea>
        {% endif %}
    {% endfor %}
    </ol>        
    </div>
</div>
{% endblock %}
