{% extends "base.html" %}
{% block content %}
    <div>
        <header>
            <h1>Протокол</h1>
        </header>
        <div>

            Протоколен номер: {{ protocol_show.number }} <br/>
            До институция: {{ protocol_show.institution }} <br/>
            Насрочен начален час: {{ protocol_show.scheduled_time }} <br/>
            Начален час {{ protocol_show.start_time }} <br/>

            Извинени отсъстващи: <br/>
            {% for excused in protocol_show.excused.all %}
                {{ excused.username }} <br/>
            {% endfor %}

            НЕизвинени отсъстващи <br/>
            {% for absent in protocol_show.absent.all %}
                {{ absent.username }} <br/>
            {% endfor %}

            Присъствали <br/>
            {% for attendent in protocol_show.attendents.all %}
                {{ attendent.username }} <br/>
            {% endfor %}

            {% if protocol_show.additional %}
                Допълнителна информация: {{ protocol_show.additional }} <br/>
            {% endif %}

            Kворум: {{ protocol_show.quorum }} <br/>
            Нужно мнозинство: {{ protocol_show.majority }} <br/>
            Текущо мнозинство: {{ protocol_show.current_majority }} <br/>

            {% if protocol_show.information %}
                Информация: {{ protocol_show.information }} <br/>
            {% endif %}

            <br/><br/>
            {% if protocol_show.topics.count > 0 %}
                <bold> TOPICS DISCUSSED </bold> <br/>

                {% for topic in protocol_show.topics.all  %}
                    {{ topic.name }} <br/>
                    {{ topic.description }} <br/>

                    {% if topic.voted_for or topic.voted_against or topic.voted_abstain %}
                        За: {{ topic.voted_for }} <br/>
                        Против: {{ topic.voted_against }} <br/>
                        Въздърждали се: {{ topic.voted_abstain }} <br/>
                    {% endif %}

                    {% if topic.statement %}
                        Взето решение: {{ topic.statement }} <br/>
                    {% else %}
                        Няма стейтмънти по въпроса <br/>
                    {% endif %}

                {% endfor %}
            {% endif %}
            <br/><br/><hr>
        </div>
    </div>
{% endblock %}
