{% extends "base.html" %}

{% block content %}

<div class="container">
  <link href="{{ STATIC_URL }}css/tree.css" type="text/css" rel="stylesheet">

  <div class="container">
    <div id="title">
      <p><strong>Настоящи и минали проекти</strong></p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p align="center"><strong>Приключени (статус)</strong></p>
        <hr />
        <div class="tree well">

        <ul>
          <li>
            <span><i class="icon-folder-open"></i>Одобрени проекти</span>
              {% for project in approved %}
              <ul>
                <li>
                  <span><i class="icon-minus-sign"><a href="{% url 'projects:show-project' project_id=project.id %}">{{ project.name }}</a></i></span>
                </li>
              </ul>
              {% endfor %}

          </li>
          <li>
            <span><i class="icon-folder-open"></i>Отхвърлени проекти:</span>
            <ul>
              {% for project in rejected %}
                <li>
                  <span><i class="icon-leaf"></i><a href="{% url 'projects:show-project' project_id=project.id %}">{{ project.name }}</a></span>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>


    <div  class="col-md-4">
      <p align="center"><strong>В процес на обработка:</strong></p>
      <hr />
      <div class="tree well">
      <ul>
        <li>
          <span><i class="icon-folder-open"></i>Неразгледани</span>
          <ul>
          {% for project in unrevised %}
            <li>
              <span><i class="icon-minus-sign"><a href="{% url 'projects:show-project' project_id=project.id %}">{{ project.name }}</a></i></span>
            </li>
          {% endfor %}
          </ul>
        </li>

        <li>
          <span><i class="icon-folder-open"></i>Върнати за корекции</span>
          <ul>
            {% for project in returned %}
              <li>
                <span><i class="icon-leaf"></i><a href="{% url 'projects:show-project' project_id=project.id %}">{{ project.name }}</a></span>
              </li>
            {% endfor %}
          </ul>
        </li>

        <li>
          <span><i class="icon-folder-open"></i>За гласуване</span>
          <ul>
            {% for project in pending %}
              <li>
                <span><i class="icon-minus-sign"><a href="{% url 'projects:show-project' project_id=project.id %}">{{ project.name }}</a></i></span>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      </div>
    </div>

    <div class="col-md-4">
      <p align="center"><strong>Архив:</strong></p>
      <hr />
        <div class="tree well">
        <ul>
          {% regroup projects by created_at|date:"Y" as year_list %}
          {% for year in year_list %}
            <li>
              <span><i class="icon-folder-open"></i>{{ year.grouper }}</span>
              <ul>
                {% regroup year.list by created_at|date:'m' as month_list %}
                {% for month in month_list %}
                <li>
                  <!-- Is the the correct way to do it ? -->
                  <span><a href="{% url 'projects:projects-year-month' year=year.grouper month=month.grouper %}"></i>{{ month.list.0.created_at|date:'F' }}</a></span>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
        </div>
    </div>

  </div>
</div>

{% endblock %}

{% block footer_scripts %}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/tree.js"></script>
{% endblock %}
