{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
  <form class="row" method="GET">
    <div class="row">
      <div class="control-group col-md-6">
          <label class="control-label" for="project-name">Име на проекта:</label>
          <input name="project-name" type="text" class="form-control" />
      </div>

      <div class="control-group col-md-6">
        <label class="control-label" for="project-status">Статус:</label>
        <select name="project-status" class="form-control">
          <!-- TODO: Get all statuses -->
          <option value="1"></option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="control-group col-md-12">
        <label class="control-label" for="mol">Материално отговорно лице:</label>
        <!-- TODO: Type ahead here -->
        <input name="mol" type="text" class="form-control" />
      </div>
    </div>

    <div align="center">
      <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 20px;">Търси</button>
    </div>
  </form>

  <div class="panel panel-default">
        <div class="panel-heading">Резултати от търсене на проекти.</div>
            <table class="table">
                <tr>
                    <th>Име</th>
                    <th>Статус</th>
                    <th>Дата на регистрация</th>
                    <th>МОЛ</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

</div>
{% endblock %}

{% block footer_scripts %}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
{% endblock %}
