{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead.js-bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-fileupload.css">
{% endblock %}

{% block content %}

<!-- BREADCRUMB -->
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
		  <li><a href="{% url 'members:user-projects' %}">Профил</a></li>
		  <li class="active">Редактиране на проект</li>
		</ol>
	</div>
</div>

{% include "form_error.html" %}
<input type="hidden" id="MAX_UPLOAD_FILES" value="{{ MAX_UPLOAD_FILES }}">
<input type="hidden" id="MAX_UPLOAD_SIZE" value="{{ MAX_UPLOAD_SIZE }}">

<div class="row">
    <div class="col-lg-10">
		<form role="form" method="post" class="project-form" action="" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset>
			    <legend>Редактиране на проект - {{ form.name.value|default:"" }}</legend>
			</fieldset>

			<div class="control-group">
			    <label class="control-label" for="project-name">Име на проекта</label>
			    <div class="controls">
			        <input id="project-name" name="name" type="text" placeholder="пример - Diaphanum" class="form-control" minlength="{{ form.name.field.min_length }}" maxlength="{{ form.name.field.max_length }}" value="{{ form.name.value|default:"" }}" {% if form.name.field.required %}required{% endif %}>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-team">Екип на проекта</label>
			    <div class="controls">
			    	{% for teamMember in form.instance.team.all %}
			    	<div class="team-member-field">
			    		<input value="{{ teamMember.first_name }} {{ teamMember.last_name }}" class="autocomplete project-team form-control" type="text" placeholder="Започни името на някой ..."
			    		 minlength="{{ form.team.field.min_length }}" maxlength="{{ form.team.field.max_length }}" {% if form.team.field.required %}required{% endif %} disabled />
			    		<button type="button" class="btn btn-warning remove-team-member">Премахни от екипа</button>
			    		<input class="team-member-id-container" type="hidden" value="{{ teamMember.id }}" name="team" />
			    	</div>
			    	{% endfor %}
			        <div id="members-error"></div>
			        <div id="add-member-control">
			            <button type="button" class="btn btn-primary" id="add-member-button">Добави човек</button>
			        </div>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-description">Описание на проекта</label>
			    <div class="controls">
			        <textarea id="description" name="description" class="form-control"  minlength="{{ form.description.field.min_length }}" maxlength="{{ form.description.field.max_length }}" value="{{ form.description.value|default:"" }}" {% if form.description.field.required %}required{% endif %}>{{ form.description.value|default:"" }}</textarea>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-mission">Цели на проекта</label>
			    <div class="controls">
			        <textarea id="project-mission" name="targets" class="form-control" placeholder="Цели на проекта и предварителна оценка на ефекта"  minlength="{{ form.targets.field.min_length }}" maxlength="{{ form.targets.field.max_length }}" value="{{ form.targets.value|default:"" }}" {% if form.target.field.required %}required{% endif %}>{{ form.targets.value|default:"" }}</textarea>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-tasks">Задачи на проекта</label>
			    <div class="controls">
			        <textarea id="project-tasks" name="tasks" class="form-control" placeholder="Задачи на проекта - конкретни дейности, които ще доведат до постигане на целите и търсеният ефект." minlength="{{ form.tasks.field.min_length }}" maxlength="{{ form.tasks.field.max_length }}" value="{{ form.targets.value|default:"" }}" {% if form.tasks.field.required %}required{% endif %}>{{ form.tasks.value|default:"" }}</textarea>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-target-audience">Целева група на проекта</label>
			    <div class="controls">
			        <textarea id="project-target-audience" name="target_group" class="form-control" placeholder="Целева група на проекта и за пряко и косвено засегнатите от дейността му лица" minlength="{{ form.target_group.field.min_length }}" maxlength="{{ form.target_group.field.max_length }}" value="{{ form.targets.value|default:"" }}" {% if form.target_group.field.required %}required{% endif %}>{{ form.target_group.value|default:"" }}</textarea>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-schedule">График на проекта</label>
			    <div class="controls">
			        <textarea id="project-schedule" name="schedule" class="form-control" placeholder="График на проекта, обвързан с конкретните дейности" minlength="{{ form.schedule.field.min_length }}" maxlength="{{ form.schedule.field.max_length }}" value="{{ form.schedule.value|default:"" }}" {% if form.schedule.field.required %}required{% endif %}>{{ form.schedule.value|default:"" }}</textarea>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-resources">Необходими ресурси</label>
			    <div class="controls">
			        <textarea id="project-resources" name="resources" class="form-control" placeholder="Необходими ресурси за - човешки, финансови, информационни и времеви" minlength="{{ form.resources.field.min_length }}" maxlength="{{ form.resources.field.max_length }}" value="{{ form.resources.value|default:"" }}" {% if form.resources.field.required %}required{% endif %}>{{ form.resources.value|default:"" }}</textarea>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-finance">Финансово описание на проекта</label>
			    <div class="controls">
			        <textarea id="project-finance" name="finance_description" class="form-control" placeholder="Говори ми за пар" minlength="{{ form.finance_description.field.min_length }}" maxlength="{{ form.finance_description.field.max_length }}" value="{{ form.finance_description.value|default:"" }}" {% if form.finance_description.field.required %}required{% endif %}>{{ form.finance_description.value|default:"" }}</textarea>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-partners">Партньори и Съфинансиране (ако има)</label>
			    <div class="controls">
			        <textarea id="project-partners" name="partners" class="form-control" placeholder="Партньори на проекта и съфинансиране" minlength="{{ form.partners.field.min_length }}" maxlength="{{ form.partners.field.max_length }}" value="{{ form.partners.value|default:"" }}" {% if form.partners.field.required %}required{% endif %}>{{ form.partners.value|default:"" }}</textarea>
			    </div>
			</div>

			<div class="control-group">
			    <label class="control-label" for="project-partners">Прикачени файлове</label>

			    {% for file in form.instance.files.all %}
				    <div class="controls">
				    	<ul class="files-field">
							<li>
								<input name="files[]" type="text" class="form-control uploaded-file" value="{{ file.file_name }}" readonly>
								<a href="/media/{{ file.file_name }}"><button type="button" class="btn btn-primary">Link</button></a>
								<button type="button" class="btn btn-danger remove-file">Изтриване на файла</button>
							</li>

				    	</ul>
				    </div>
			    {% endfor %}

			    <div class="control-group" style="margin-top: 20px;">
                  <div class="fileupload fileupload-new" data-provides="fileupload" >
                    <div class="input-group" data-toggle="popover" data-placement="top" data-original-title="Файлът не може да е по-голям от {{  MAX_UPLOAD_SIZE }}MB">
                      <div class="form-control uneditable-input"><i class="icon-file fileupload-exists"></i>
                          <span class="fileupload-preview"></span>
                      </div>
                      <div class="input-group-btn">
                          <a class="btn btn-default btn-file">
                              <span class="fileupload-new">Select file</span>
                              <span class="fileupload-exists">Change</span>
                              <input type="file" name="files" class="input-file"/>
                          </a>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                      </div>
                    </div>
                  </div>
                  <div id="add-one-more-button-container">
                    <button id="add-one-more-file" id="add-one-more-file" class="btn btn-info" type="button">Добави още 1 файл</button>
                  </div>
                </div>

			</div>

			<div class="control-group">
				<label class="control-label" for="project-form-submit"></label>
				<div class="controls">
				   	<button id="project-form-submit" name="project-form-submit" class="btn btn-primary">Запази редактирания формуляр</button>
				</div>
			</div>


		</form>
	</div>
</div>

{% endblock %}

{% block footer_scripts %}
  <script src="http://underscorejs.org/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.validate.js"> </script>
  <script src="{{ STATIC_URL }}js/appConfig.js"></script>
  <script src="{{ STATIC_URL }}js/projectForm.js"></script>
  <script src="{{ STATIC_URL }}js/textAreaCounter.js"></script>
  <script src="{{ STATIC_URL }}js/typeahead.js"></script>
  <script src="{{ STATIC_URL }}js/typeAheadFactory.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-fileupload.js"></script>
  <script>
  	// styles, specific for the edit page
  	$(function() {
  		$("button.remove-team-member")
  			.css("margin-bottom", "15px");
  	});
  </script>

  <script type="text/template" id="new-attachment-template">
  <div class="fileupload fileupload-new" data-provides="fileupload">
     <div class="input-group" data-toggle="popover" data-placement="top" data-original-title="Файлът не може да е по-голям от {{  MAX_UPLOAD_SIZE }}MB">
      <div class="form-control uneditable-input"><i class="icon-file fileupload-exists"></i>
        <span class="fileupload-preview"></span>
      </div>
        <div class="input-group-btn">
          <a class="btn btn-default btn-file">
              <span class="fileupload-new">Select file</span>
              <span class="fileupload-exists">Change</span>
              <input type="file" name="files" class="input-file"/>
          </a>
          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
        </div>
    </div>
  </div>
  </script>

  <script type="text/template" id="new-team-member-template">
    <div class="team-member-field">
      <input class="project-team autocomplete" type="text" placeholder="Започни името на някой ..." minlength="{{ form.team.field.min_length }}" maxlength="{{ form.team.field.max_length }}" />
      <button type="button" class="btn btn-warning remove-team-member">Премахни от екипа</button>
      <input class="team-member-id-container" type="hidden" value="-1" name="team" />
    </div>
  </script>

  <script type="text/template" id="text-counter-template">
    <p class="textCounter">
      <span class="currentChars"></span> от <span class="minChars"></span> минимални.
    </p>
  </script>
{% endblock %}
