{% extends "base.html" %}
{% block content %}
      <div class="row">
        <div class="col-lg-12">
          <h1>Добре дошъл в проекта Diaphanum!</h1>
          <p class="lead">
            <strong>„Diaphanum”</strong> (от лат. „прозрачност”) е уеб-приложението към сайта на Студентския съвет (СС), чрез което се цели цялата негова дейност да стане максимално достъпна за студентско наблюдение и в този смисъл – да бъде изцяло публична.
          </p>
          <hr />
          <p class="lead">
            Освен това чрез платформата ще можете много по-ефективно и удобно (след бърза регистрация с данните си от СУСИ) да се включите в нашата студентска проектна дейност („Кандидатствай”). Става въпрос за възможността на всеки един от вас да получи частично или цялостно финансиране от бюджета на Студентския съвет за реализацията на свой проект. Условието, разбира се, е той да утвърждава и развива образователно-научната, културната и спортната среда в Университета, както и активната гражданска позиция на студентите по академичните и обществените проблеми. Всеки подаден формуляр ще бъде разгледан от нашия проектен координатор, имащ за задача да помага на студентите като посочва местата, в които
          </p>
          <hr />
          <p class="lead">
            Прозрачността, която „Diaphanum” осигурява тук, е двустранна. Всеки ще може да види с какви аргументи студентите обосновават целесъобразността на своите проекти, както и какъв е бил реалният ефект от реализираната инициатива („Архив на проектната дейност”). От друга страна, ще бъдат достъпни и доводите на членовете на съвета, с които те са одобрили, отхвърлили или отложили даден проект на техните колеги.
          </p>
          <hr />
          <p class="lead">
            Чрез системата ще можете да следите и резултатите от заседанията на СС и неговите комисии („Архив на Студентски съвет”). В раздела ще откриете хронологично подредени електронни протоколи от всички провели се заседания. Архивът е достъпен за всички и без специална регистрация към платформата, като за улеснение е създадена и търсачка.
          </p>
          <p class="lead">
            Студентският съвет благодари искрено на колегите от ФМИ, които в рамките на Летния Хакатон с ентусиазъм и усилия разработиха и в последствие довършиха проекта, който в момента всички студенти на СУ „Св. Климент Охридски” могат да ползват. Така „Diaphanum” е нагледен пример за това как щом има воля за промени и подобрения, студенските представители и студентите-специалисти могат да работят заедно за една обща кауза – по-силна и единна студентска общност.
          </p>
        </div>
      </div>
{% endblock %}
