{% extends "base.html" %}
{% block content %}
      <div class="row">
        <div class="col-lg-10">
          <h1>Добре дошъл в проекта Diaphanum!</h1>
          <p class="lead">
            <strong>Diaphanum</strong> означава "прозрачност" на латински.
            Това е и основната му цел - да внесе прозрачност в Студентски Съвет към Софийски Университет !
          </p>
          <hr />
          <p class="lead">
            Чрез <strong>Diaphanum</strong> всеки студент ще има достъп до <a href="{% url 'projects:projects-archive' %}" target="_blank">публичния архив с проекти и протоколи</a>, които ежедневно минават през ръцете на СС.
            <br />
            Също така, всеки студент ще има възможност да <a href="{% url 'projects:add-project' %}" target="_blank">кандидатства</a> с проект към СС.
          </p>
          <hr />
          <p class="lead">
            <img src="{{ STATIC_URL }}img/summer_hackfmi.png" />
            <br />
            Проектът бе стартиран на <a href="http://hackfmi.com/" target="_blank">летният хакатон</a> във ФМИ и неговият код <a href="https://github.com/Hackfmi/Diaphanum" target="_blank">може да бъде намерен в Github</a> под MIT лиценз.
          </p>
          <h1>Очаквайте официално включване в системата :)</h1>
        </div>
      </div>
{% endblock %}
